 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fenixx Eye | sasa</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <html>
    <body class="body">
        <%- include('../components/nav.ejs') %>
    <section class="hero-noticias">
      <img src="../../uploads/1722286673935.jpg" alt="fondo_main" />
      <div class="contenedorNoticia">
        <h2>sasa</h2>
        <p>sas</p>
      </div>
    </section>

    <div class="noticias">
      <h4>MAS NOTICIAS</h4>
      <div class="noticias-container">
        
      </div>
    </div>

    <%- include('../components/footer.ejs') %>

    <script src="../scripts/script.js"></script>
    <script src="../scripts/form.js"></script>
    </body>
    </html>