@import url('base/_reset.css');
@import url('base/_scrollNav.css');
@import url('base/_hero.css');
@import url('base/_fonts.css');
@import url('components/carrusel.css');
@import url('components/modal.css');
@import url('components/noticias.css');
@import url('layout/header.css');
@import url('layout/footer.css');
@import url('layout/background.css');
@import url('pages/home.css');
@import url('pages/nuestroAdn.css');
@import url('pages/representacion.css');
@import url('pages/serv-colab.css');
@import url('pages/noticias.css');
@import url('pages/contacto.css');
@import url('pages/login.css');
@import url('pages/admin.css');

.servicios-colaboraciones {
    display: flex;
    /* outline: 1px red solid; */
    width: 100%;
  }
  
  .info-servicios {
    width: 50%;
    text-align: center;
    /* margin-right: ; */
  }
  
  
  .info-servicios h3 {
    font-family: 'Primary-font';
    font-weight: 700;
    font-size: 64px;
    color: white;
    position: relative; /* Necesario para posicionar el pseudo-elemento */
  }
  
  /* .info-servicios h3::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 0;
    width: 500px; 
    height: 3px;
    background-color: white; 
    margin-right: 500px;
  } */
  
  .info-servicios p {
    font-family: 'Secondary-font';
    font-weight: 200;
    font-size: 24px;
    color: #ffffff;
    margin-top: 20px;
  }
  
  .info-servicios a {
    font-family: 'Secondary-font';
    font-weight: 400;
    font-size: 21px;
    color: #ff8300;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-top: 20px; /* Añade un poco de espacio arriba */
  }
  
  .info-servicios span {
    margin-left: 5px;
    display: flex;
    align-items: center;
  }
