.noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.noticias h4 {
  font-family: 'Primary-font';
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  color: white;
  margin-top: 50px;
  margin-bottom: 25px;
}

.post-details {
  margin-top: 100px;
}

.post-details h2 {
  font-size: 60px;
  color: white;
  font-weight: 600;
}

.post-details p {
  font-size: 32px;
  color: white;
  font-weight: 600;
}

.noticias-container {
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 10px; 
}

.noticia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 404px;
  align-items: start;
}

.noticia img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  max-height: 363px; /* Mantener proporción */
  object-fit: cover; /* Ajustar imagen dentro del contenedor */
}

.noticia h6 {
  font-family: 'Primary-font';
  font-size: 38px;
  font-weight: 700;
  color: white;
  text-align: left;
  
}

.noticia p {
  font-family: 'Primary-font';
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: left;
}

@media only screen and (max-width: 600px){
  .post-details {
    margin-top: 0px;
  }
}