.hero-left {
  padding-top: 100px;
  /* Para evitar que el contenido se superponga con el header fijo */
  text-align: center;
  color: white;
  height: 100vh; /* Para que la sección ocupe toda la altura de la ventana */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-left img {
  width: 100vw;
  position: relative;
}

.hero-left h1 {
  font-family: 'Primary-font', sans-serif;
  font-size: 80px;
  font-weight: 700;

  text-align: left;

  line-height: 85.33px;
  /* letter-spacing: 10px; */
}
.contenedor-texto {
  width: 50vw;
  height: 277px;
  position: absolute;
  top: 33%;
  left: 82px;
}
.contenedor-texto p {
  width: 750px;
  text-align: left;
  font-family: 'Secondary-font';
  font-weight: 400;
  font-size: 24px;
}

.scroll-button-serv-colab {
  background: none;
  /* border: none;} */
  margin-top: 20px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 90%;
  left: 50%;
}

.scroll-button-serv-colab svg {
  width: 66px;
  height: 66px;
}

.scroll-button svg path {
  fill: white;
}

.sub-title {
  /* margin-top: 150px; */
  width: 100vw;
  height: 20vh;
  text-align: center;
  width: 1100px;
  margin: 300px auto;
}
.sub-title h2 {
  color: white;
  font-family: 'Primary-font';
  font-size: 57px;
  font-weight: 700;
}

.gestion-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0;
  /* height: 80vh; */
}
.img-text {
  display: flex;
  align-items: center;
  margin: auto;
}
.img-text img {
  width: 250px;
}
.texto h4 {
  font-family: 'Primary-font';
  font-size: 71px;
  font-weight: 700;
  color: white;
  position: relative;
}
.texto h4::after {
  content: '';
  position: absolute;
  top: 50%;
  /* right: 0; */
  margin-left: 20px;
  transform: translateY(-50%);
  width: 1000px;
  height: 3px;
  background-color: white;
}
.texto h3 {
  font-family: 'Primary-font';
  font-size: 71px;
  font-weight: 700;
  color: white;
}

.servicios-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 100px;
  /* outline: red 1px solid; */
  /* height: 60vh; */
}

.servicio {
  height: 640px;
  width: 400px;
  /* outline: blue 1px solid; */
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: relative;
  overflow: hidden;
}

.image-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.text-overlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  width: 100%;
}

.text-overlay h5 {
  font-family: 'Primary-font';
  font-size: 33px;
  font-weight: 800;
}

.text-overlay a {
  font-family: 'Primary-font';
  font-size: 24px;
  font-weight: 400;
  color: white;
  /* text-decoration: none; */
}

.img-text-marketing {
  display: flex;
  align-items: center;
  margin: auto;
  text-align: right;
}
.img-text-marketing img {
  width: 250px;
}
.texto-marketing h4 {
  font-family: 'Primary-font';
  font-size: 71px;
  font-weight: 700;
  color: white;
  position: relative;
}
.texto-marketing h4::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 60%;
  /* margin-left: 20px; */
  transform: translateY(-50%);
  width: 5000px;
  height: 3px;
  background-color: white;
}
.texto-marketing h3 {
  font-family: 'Primary-font';
  font-size: 71px;
  font-weight: 700;
  color: white;
}

/*--- --- ---*/
.hero-serv img {
  width: 100vw;
}

.mt-100px {
  margin-top: 100px !important;
}

.container-serv {
  height: 100vh;
  display: flex;
  align-items: center;
}

.main-bg-serv {
  background-position-y: -150px;
  background-size: cover;
  height: 120vh;
  background-image: url("../../images/hero-ser-colabok.jpg");
  mask-image: linear-gradient(black 70%, transparent)
}

.main-bg-serv h2 {
  font-size: 72px;
  margin-bottom: 200px;
  color: white;
  font-weight: 700;
}

.container-serv h1 {
  font-family: 'Primary-font', sans-serif;
  font-size: 80px;
  font-weight: 700;
  text-align: left;
  line-height: 85.33px;
  color: white;
}

.container-serv p {
  width: 100%;
  text-align: left;
  font-family: 'Secondary-font';
  font-weight: 400;
  font-size: 24px;
  color: white;
}

@media only screen and (max-width: 600px){
  
.main-bg-serv h2 {
  font-size: 24px;
  margin-bottom: -100px;
}
  .container-serv h1 {
    font-size: 32px;
    line-height: 40px;
  }
  
  .container-serv p {
    font-size: 20px;
  }

  .main-bg-serv {
    background-position-y: 0px;
    height: 100vh;
  }

  .sub-title {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .sub-title h2{
    font-size: 32px;
  }

  .img-text, .img-text-marketing {
    justify-content: center;
    flex-wrap: wrap;
  }

  .img-text .texto, .img-text-marketing .texto-marketing {
    text-align: center;
  }

  .img-text .texto h3, .img-text .texto h4, .img-text-marketing .texto-marketing h3, .img-text-marketing .texto-marketing h4{
    font-size: 32px;
  }

  .gestion-container {
    margin-bottom: 0px !important;
  }

  .img-text-marketing {
    flex-direction: column-reverse;
  }

  .texto-marketing h4::before {
    right: 85%
  }

  .gestion-container {
    margin-top: 0px;
  }

  .servicios-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .servicio {
    width: 100%;
    margin-bottom: 30px;
    height: 300px;
  }
}