body::-webkit-scrollbar {
  width: 12px; /* Ancho de la scrollbar */
}

body::-webkit-scrollbar-track {
  background: #333; /* Color de fondo de la pista */
  border-radius: 10px; /* Bordes redondeados */
}

body::-webkit-scrollbar-thumb {
  background-color: #555; /* Color del thumb */
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid #333; /* Espacio alrededor del thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #777; /* Color del thumb al pasar el cursor */
}