.hero-representacion {
  margin-top: 150px;
  height: 100vh; /* Para que la sección ocupe toda la altura de la ventana */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}

.hero-representacion img {
  width: 100vw;
}

.mt-100px {
  margin-top: 100px !important;
}

.container-representacion {
  height: 100vh;
  display: flex;
  align-items: center;
}

.main-bg-representacion {
  background-position-y: -150px;
  background-size: cover;
  height: 100vh;
  background-image: url("../../Recursos_Pagina_web/micro-hero-representacion.jpg");
  mask-image: linear-gradient(black 70%, transparent)
}

.contenedor-texto-representacion {
  width: 40vw;
  height: 277px;
  position: absolute;
  top: 20vh; /* Ajusta este valor según sea necesario */
  right: 200px; /* Ajusta este valor según sea necesario */
  text-align: right;
  color: white;
}

.container-representacion h1 {
  font-family: 'Primary-font', sans-serif;
  font-size: 80px;
  font-weight: 700;
  text-align: left;
  line-height: 85.33px;
  color: white;
}

.container-representacion p {
  width: 100%;
  text-align: left;
  font-family: 'Secondary-font';
  font-weight: 400;
  font-size: 24px;
  color: white;
}

.scroll-button-representacion {
  background: none;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  /* color: white; */
  position: absolute;
  top: 80%;
  left: 50%;
  /* margin: 0 auto; */
}

.scroll-button-representacion svg {
  width: 66px;
  height: 66px;
}

.scroll-button-representacion svg path {
  fill: white;
}

/* img {
  width: 450px;
} */
.imagen-informacion img{
  width: 450px;
}
.artistas{
  margin-top: 250px;
}

.artista-left {
  display: flex;
  flex-direction: column;
  margin:150px auto;
}
.img-info {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.info h2 {
  font-family: 'Primary-font';
  font-size: 71px;
  font-weight: 700;
  color: white;
  position: relative;
  margin-bottom: 20px;
}
.info h2::after {
  content: '';
  position: absolute;
  top: 50%;
  /* left: 100%; */
  margin-left: 20px;
  transform: translateY(-50%);
  width: 1000px;
  height: 3px;
  background-color: white;
}
.info p {
  font-family: 'Secondary-font';
  font-size: 24px;
  color: white;
  font-weight: 200;
  width: 80%;
}
.info {
  margin-left: 50px;
}
.quote {
  text-align: center;
  margin:  auto;
  color: white;
  width: 850px;
  font-family: 'Secondary-font';
  font-style: italic;
  font-weight: 200;
  font-size: 24px;
}


.artista-right {
  display: flex;
  flex-direction: column;
  margin:150px auto;
}

.imagen-informacion{
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.informacion{
  text-align:right;
  /* outline: red 1px solid; */
  padding-right: 150px;
}
.informacion h2{
  font-family: 'Primary-font';
  font-size: 71px;
  font-weight: 700;
  color: white;
  position: relative;
  margin-bottom: 20px;
}

.informacion h2::before {
  content: '';
  position: absolute;
  top: 50%;
  /* left: 100%; */
  right: 0;
  margin-right: 20px;
  transform: translateY(-50%);
  width: 3000px;
  margin-right:450px;
  height: 3px;
  background-color: white;
}


.informacion p{
  font-family: 'Secondary-font';
  font-size: 24px;
  color: white;
  font-weight: 200;
  /* width: 80%; */
}

.informacion .josel::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -170px;
  transform: translateY(-50%);
  width: 3000px;
  height: 3px;
  background-color: white;
}

@media only screen and (max-width: 600px){
  .container-representacion h1 {
    font-size: 32px;
  }
  
  .container-representacion p {
    font-size: 20px;
  }

  .main-bg-representacion {
    background-position-y: 0px;
  }

  .artistas {
    margin-top: 50px;
  }

  .artista-left {
    flex-wrap: wrap;
    margin: 0px;
    flex-direction: row;
  }

  .artista-left .imagen-informacion, .artista-left p{
    width: 100%;
  }

  .artista-left p, .imagen-informacion {
    display: inline-block;
  }

  .artista-left p, .informacion p {
    font-size: 20px;
  }

  .imagen-informacion img, .imagen-informacion .info{
    position: relative;
  }

  .imagen-informacion .info {
    margin-left: 0px;
    text-align: center;
  }

  .vicenncio-img-container {
    text-align: center;
  }

  .artista-rigth {
    margin-top: 100px;
  }

  .artista-rigth .quote{
    text-align: center;
    width: 100%;
  }

  .informacion h2::before {
    right: -50px !important;
  }

  .artista-rigth .imagen-informacion .informacion {
    padding-right: 0px;
    text-align: center;
  }

  .imagen-informacion {
    width: 100%;
  }

  .info h2, .informacion h2 {
    font-size: 32px;
  }
}