<header class="header">
    <div>
      <a href="/">
        <img src="../images/Logo/Logo_Fenixx eye.png" alt="Logo" class="logo">
      </a>
    </div>
    
    <nav id="nav">
      <ul class="nav-list">
        <li><a href="/representacion">Representación</a></li>
        <li><a href="/servicios-y-colaboraciones">Servicios y Colaboración</a></li>
        <li><a href="/noticias">Noticias</a></li>
        <li><a href="/nuestro-adn">Nuestro ADN</a></li>
        <li><a href="/contacto" class="Contacto">Contacto</a></li>
      </ul>
    </nav>
    
    <span class="material-symbols-outlined btn-h" id="menu-toggle">
      menu
    </span>

    <!-- <nav class="navResponsive">
      <li><a href="representacion.html">Representación</a></li>
      <li><a href="/servicios-y-colaboraciones">Servicios y colaboración</a></li>
      <li><a href="/noticias">Noticias</a></li>
      <li><a href="/nuestro-adn">Nuestro ADN</a></li>
      <li><a href="/contacto" class="Contacto">Contacto</a></li>
    </nav> -->
  </header>

  <nav id="nav-responsive">
    <ul class="nav-list-responsive">
      <li><a href="/representacion">Representación</a></li>
      <li><a href="/servicios-y-colaboraciones">Servicios y Colaboración</a></li>
      <li><a href="/noticias">Noticias</a></li>
      <li><a href="/nuestro-adn">Nuestro ADN</a></li>
      <li><a href="/contacto" class="Contacto">Contacto</a></li>
    </ul>
  </nav>
